@mixin control($primary, $font) {
  background: $primary;
  border: solid 1px #ccc;
  border-radius: 3px;
  color: $font;
  font: 14px sans-serif;
  padding: 5px 10px;
}

.send {
  @include control(salmon, white);
}

.search {
  @include control(transparent, currentColor);
}

.asd {
  font-size: 14px;
}
